.nav-list {
  justify-content: space-between;
  flex-direction: row;
}

#pandafacts {
  flex-direction: column;
}

#pandafood {
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

#pandahabitat {
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

#sponser {
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
