header {
  background-color: lightgreen;
  padding: 10px;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: linear-gradient(to bottom, black, green);
}

.navlist {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: right;
  font-size: 25px;
}

.pandafacts {
  flex-direction: column;
  font-family: Arial;
  text-align: center;
  background-color: lightgreen;
}

.pandafood {
  flex-direction: column;
  font-family: Arial;
  text-align: center;
  background-color: lightgreen;
}

.bambooPanda {
  width: 30%;
  height: 30%;
  justify-content: left;
}

.habitat {
  flex-direction: column;
  font-family: Arial;
  text-align: center;
  background-color: lightgreen;
}

.pandaHabitat {
  width: 30%;
  height: 30%;
  justify-content: right;
}

.sponser {
  flex-direction: column;
  font-family: Arial;
  text-align: inline-block;
  background-color: lightgreen;
}

.pandaHelp {
  width: 30%;
  height: 30%;
  justify-content: left;
}
